Explorar los datos

In [2]:
# Importar bibliotecas para explorar datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importar Datos
data = pd.read_csv('data/ensanut2022_muestras.csv', sep=';')

In [4]:
data.head()

,FOLIO_I,FOLIO_INT,t_hora,t_min,t_sumai,t_sumaf,hora_ini_1,fecha_ini_1,hora_fin_1,fecha_fin_1,...,valor_VIT_D,fecdeterm_VIT_D,ponde_v,cuenta_mic,ponde_m12a49,ponde_m0a11,estrato,region,est_sel,upm
0,2022_01001004,2022_01001004_01,13,35,813,815,13:33:14,10/11/2022,13:35:20,10/11/2022,...,,,,0,,,3,4,13,0100100011320
1,2022_01001008,2022_01001008_01,20,44,1244,1244,20:34:12,20/11/2022,20:34:55,20/11/2022,...,,,,0,,,3,4,13,0100100011320
2,2022_01001008,2022_01001008_03,20,43,1243,1243,20:41:51,20/11/2022,20:42:23,20/11/2022,...,,,,0,,,3,4,13,0100100011320
3,2022_01001009,2022_01001009_02,9,26,561,566,09:21:48,10/11/2022,09:26:03,10/11/2022,...,,,"16452,5523392573",0,,,3,4,13,0100100011320
4,2022_01001011,2022_01001011_01,20,49,1249,1249,20:45:31,20/11/2022,20:46:06,20/11/2022,...,,,,0,,,3,4,13,0100100011320

In [5]:
# Rango por variable
# Tipo de dato de cada variable
data.info()

# Separar variables categoricas y numericas
categorical_vars = data.select_dtypes(include=['object', 'category']).columns
numerical_vars = data.select_dtypes(include=['number']).columns
print("Categorical Variables:", categorical_vars)
print("Numerical Variables:", numerical_vars)

df_cat = data[categorical_vars]
df_num = data[numerical_vars]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13899 entries, 0 to 13898
Columns: 132 entries, FOLIO_I to upm
dtypes: int64(26), object(106)
memory usage: 14.0+ MB
Categorical Variables: Index(['FOLIO_I', 'FOLIO_INT', 'hora_ini_1', 'fecha_ini_1', 'hora_fin_1',
       'fecha_fin_1', 'hora_ini_2', 'fecha_ini_2', 'hora_fin_2', 'fecha_fin_2',
       ...
       'valor_STFR_FEB23', 'fecdeterm_STFR_FEB23', 'valor_VIT_B12',
       'fecdeterm_VIT_B12', 'valor_VIT_D', 'fecdeterm_VIT_D', 'ponde_v',
       'ponde_m12a49', 'ponde_m0a11', 'upm'],
      dtype='object', length=106)
Numerical Variables: Index(['t_hora', 't_min', 't_sumai', 't_sumaf', 'tiempo1', 'resultado_1',
       'tiempo2', 'resultado_2', 'tiempo3', 'resultado_3', 'tiempo4',
       'resultado_4', 'localizado', 'entidad', 'municipio', 'h0302', 'h0303',
       'nota1', 'tiempo', 'completa', 'MATRIZ_SUERO', 'MATRIZ_SANGRE',
       'cuenta_mic', 'estrato', 'region', 'est_sel'],
      dtype='object')

In [6]:

for col in df_cat.columns:
    print(f"Value counts for {col}:")
    print(df_cat[col].value_counts())
    print("\n")

for col in df_num.columns:
    print(f"Descriptive statistics for {col}:")
    print(df_num[col].describe())
    print("\n")

Value counts for FOLIO_I:
FOLIO_I
2022_31098022    7
2022_12001117    7
2022_20016023    6
2022_32039021    6
2022_16107011    6
                ..
2022_15031034    1
2022_15033001    1
2022_15033005    1
2022_15033008    1
2022_32056030    1
Name: count, Length: 7083, dtype: int64


Value counts for FOLIO_INT:
FOLIO_INT
2022_01001004_01    1
2022_19039062_02    1
2022_19039051_04    1
2022_19039051_07    1
2022_19039052_02    1
                   ..
2022_11020099_03    1
2022_11020101_01    1
2022_11020101_03    1
2022_11020102_02    1
2022_32056030_02    1
Name: count, Length: 13899, dtype: int64


Value counts for hora_ini_1:
hora_ini_1
08:58:56    4
13:52:53    4
16:28:20    4
14:16:46    4
15:08:02    4
           ..
20:09:31    1
09:52:18    1
09:57:36    1
09:07:23    1
17:04:55    1
Name: count, Length: 12536, dtype: int64


Value counts for fecha_ini_1:
fecha_ini_1
11/12/2022    423
14/11/2022    334
13/12/2022    328
22/10/2022    300
12/12/2022    299
             ...
28/08/2022      5
26/08/2022      4
04/09/2022      3
25/11/2021      1
31/08/2022      1
Name: count, Length: 110, dtype: int64


Value counts for hora_fin_1:
hora_fin_1
16:33:30    5
18:23:34    4
23:31:13    4
00:10:33    4
15:32:25    4
           ..
10:25:19    1
12:17:11    1
18:56:52    1
18:59:20    1
09:38:19    1
Name: count, Length: 12554, dtype: int64


Value counts for fecha_fin_1:
fecha_fin_1
11/12/2022    424
14/11/2022    335
13/12/2022    328
22/10/2022    299
12/12/2022    299
             ...
28/08/2022      5
26/08/2022      4
04/09/2022      3
25/11/2021      1
31/08/2022      1
Name: count, Length: 110, dtype: int64


Value counts for hora_ini_2:
hora_ini_2
            10530
00:52:17        2
22:07:23        2
15:25:49        2
20:15:12        2
            ...
18:59:27        1
13:33:07        1
20:06:30        1
20:20:03        1
22:58:27        1
Name: count, Length: 3289, dtype: int64


Value counts for fecha_ini_2:
fecha_ini_2
              10530
11/12/2022      216
22/10/2022      214
12/12/2022      157
24/10/2022      146
              ...
02/09/2022        1
29/08/2022        1
28/08/2022        1
27/08/2022        1
15/09/2022        1
Name: count, Length: 106, dtype: int64


Value counts for hora_fin_2:
hora_fin_2
            10530
12:16:32        3
16:05:22        2
14:40:21        2
14:52:32        2
            ...
16:19:50        1
18:54:01        1
09:08:29        1
16:31:22        1
22:58:35        1
Name: count, Length: 3284, dtype: int64


Value counts for fecha_fin_2:
fecha_fin_2
              10530
11/12/2022      217
22/10/2022      214
12/12/2022      157
24/10/2022      146
              ...
02/09/2022        1
29/08/2022        1
28/08/2022        1
27/08/2022        1
15/09/2022        1
Name: count, Length: 106, dtype: int64


Value counts for hora_ini_3:
hora_ini_3
            11202
13:30:19        2
17:05:06        2
13:21:57        2
22:26:15        2
            ...
10:31:26        1
00:15:13        1
07:27:45        1
15:09:05        1
22:58:42        1
Name: count, Length: 2653, dtype: int64


Value counts for fecha_ini_3:
fecha_ini_3
              11202
11/12/2022      215
22/10/2022      207
12/12/2022      150
24/10/2022      142
              ...
28/08/2022        1
07/09/2022        1
06/11/2022        1
17/11/2022        1
13/10/2022        1
Name: count, Length: 85, dtype: int64


Value counts for hora_fin_3:
hora_fin_3
            11202
23:40:04        3
23:27:30        2
23:43:53        2
16:20:03        2
            ...
15:15:43        1
15:22:52        1
16:03:36        1
16:04:24        1
22:58:47        1
Name: count, Length: 2631, dtype: int64


Value counts for fecha_fin_3:
fecha_fin_3
              11202
11/12/2022      215
22/10/2022      207
12/12/2022      150
24/10/2022      142
              ...
28/08/2022        1
06/11/2022        1
13/10/2022        1
17/11/2022        1
26/10/2022        1
Name: count, Length: 84, dtype: int64


Value counts for hora_ini_4:
hora_ini_4
            11287
00:29:42        3
21:37:36        2
00:55:23        2
12:17:13        2
            ...
00:56:47        1
00:15:51        1
11:59:56        1
19:34:04        1
22:58:55        1
Name: count, Length: 2555, dtype: int64


Value counts for fecha_ini_4:
fecha_ini_4
              11287
11/12/2022      222
24/10/2022      204
12/12/2022      146
22/10/2022      141
              ...
13/09/2022        1
25/11/2022        1
05/10/2022        1
06/11/2022        1
16/10/2022        1
Name: count, Length: 72, dtype: int64


Value counts for hora_fin_4:
hora_fin_4
            11287
20:15:33        2
22:13:25        2
14:22:28        2
00:02:50        2
            ...
00:47:36        1
00:46:18        1
00:54:58        1
00:55:59        1
22:59:10        1
Name: count, Length: 2555, dtype: int64


Value counts for fecha_fin_4:
fecha_fin_4
              11287
11/12/2022      221
24/10/2022      204
12/12/2022      147
22/10/2022      142
              ...
13/09/2022        1
25/11/2022        1
05/10/2022        1
06/11/2022        1
16/10/2022        1
Name: count, Length: 72, dtype: int64


Value counts for hora_ini:
hora_ini
08:58:56    4
13:52:53    4
16:28:20    4
14:16:46    4
15:08:02    4
           ..
20:09:31    1
09:52:18    1
09:57:36    1
09:07:23    1
17:04:55    1
Name: count, Length: 12536, dtype: int64


Value counts for fecha_ini:
fecha_ini
11/12/2022    423
14/11/2022    334
13/12/2022    328
22/10/2022    300
12/12/2022    299
             ...
28/08/2022      5
26/08/2022      4
04/09/2022      3
25/11/2021      1
31/08/2022      1
Name: count, Length: 110, dtype: int64


Value counts for desc_ent:
desc_ent
11 GUANAJUATO                         1495
19 NUEVO LEÓN                         1383
15 MÉXICO                              723
09 CIUDAD DE MÉXICO                    664
13 HIDALGO                             543
16 MICHOACÁN DE OCAMPO                 517
06 COLIMA                              486
08 CHIHUAHUA                           483
30 VERACRUZ DE IGNACIO DE LA LLAVE     481
07 CHIAPAS                             451
05 COAHUILA DE ZARAGOZA                403
26 SONORA                              377
20 OAXACA                              376
12 GUERRERO                            367
23 QUINTANA ROO                        358
28 TAMAULIPAS                          351
25 SINALOA                             346
27 TABASCO                             330
02 BAJA CALIFORNIA                     323
03 BAJA CALIFORNIA SUR                 320
04 CAMPECHE                            319
31 YUCATÁN                             313
29 TLAXCALA                            312
32 ZACATECAS                           301
17 MORELOS                             278
14 JALISCO                             263
01 AGUASCALIENTES                      251
24 SAN LUIS POTOSÍ                     243
10 DURANGO                             240
22 QUERÉTARO                           226
21 PUEBLA                              225
18 NAYARIT                             151
Name: count, dtype: int64


Value counts for desc_mun:
desc_mun
020 LEÓN                           414
007 IZTAPALAPA                     240
039 MONTERREY                      178
002 CAMPECHE                       175
003 LA PAZ                         173
                                  ...
035 SOLEDAD DE GRACIANO SÁNCHEZ      8
009 CIUDAD MADERO                    7
019 SAN PEDRO GARZA GARCÍA           3
035 NORIA DE ÁNGELES                 3
027 LOS HERRERAS                     3
Name: count, Length: 277, dtype: int64


Value counts for fech_nac:
fech_nac
            1886
99999999      45
24072012       5
18022011       5
14102019       5
            ...
13012003       1
11111975       1
02111977       1
18101977       1
21081991       1
Name: count, Length: 9577, dtype: int64


Value counts for sc:
sc
1    12013
      1886
Name: count, dtype: int64


Value counts for sv:
sv
0    8846
1    3167
     1886
Name: count, dtype: int64


Value counts for sh:
sh
0    11491
      1886
1      522
Name: count, dtype: int64


Value counts for sm:
sm
0    8322
1    3691
     1886
Name: count, dtype: int64


Value counts for int_hemoglobina:
int_hemoglobina
1    6082
0    5931
     1886
Name: count, dtype: int64


Value counts for nota11:
nota11
1    9822
     4077
Name: count, dtype: int64


Value counts for nota00:
nota00
1    9687
     4212
Name: count, dtype: int64


Value counts for sc01:
sc01
1    9291
     4453
2      67
5      39
6      32
4      12
3       5
Name: count, dtype: int64


Value counts for sc02:
sc02
         4548
01:00    2233
02:00    1087
03:00     954
04:00     728
         ...
11:21       1
09:10       1
09:08       1
09:40       1
03:15       1
Name: count, Length: 297, dtype: int64


Value counts for sc03:
sc03
5    8926
     4548
4     250
3     109
2      40
1      26
Name: count, dtype: int64


Value counts for sc04:
sc04
            4548
327F0010       2
327F0009       2
309F0135       1
308F0173       1
            ...
506F0031       1
506F0032       1
506F0033       1
506F0034       1
244F0152       1
Name: count, Length: 9350, dtype: int64


Value counts for nota01:
nota01
     11414
1     2485
Name: count, dtype: int64


Value counts for san01:
san01
     11417
1     2092
5      289
3       47
2       22
4       19
6       13
Name: count, dtype: int64


Value counts for san02:
san02
         11785
08:20       48
08:00       46
09:00       40
08:10       33
         ...
10:41        1
11:33        1
12:13        1
12:23        1
16:11        1
Name: count, Length: 499, dtype: int64


Value counts for san03:
san03
            11785
513C0007        1
516C0020        1
514C0012        1
514C0013        1
            ...
506C0002        1
506C0003        1
504C0003        1
504C0002        1
244C0043        1
Name: count, Length: 2115, dtype: int64


Value counts for san04:
san04
      11785
12      528
11      331
10      309
8       287
9       174
13      128
14       92
7        65
6        47
15       44
16       37
18       16
17       13
2        12
1        11
4         8
5         8
0         2
3         2
Name: count, dtype: int64


Value counts for san05:
san05
            11785
513S0007        1
516S0020        1
514S0012        1
514S0013        1
            ...
506S0002        1
506S0003        1
504S0005        1
504S0002        1
244S0043        1
Name: count, Length: 2115, dtype: int64


Value counts for san06:
san06
            11785
513T0007        1
516T0020        1
514T0012        1
514T0013        1
            ...
506T0002        1
506T0003        1
504T0005        1
504T0002        1
244T0043        1
Name: count, Length: 2115, dtype: int64


Value counts for nota02:
nota02
     9083
1    4816
Name: count, dtype: int64


Value counts for hb01:
hb01
     9084
1    3999
3     667
2     104
4      45
Name: count, dtype: int64


Value counts for hb02:
hb02
        9900
13,5     122
13,6     114
13,4     113
14       111
        ...
9,4        1
7,5        1
5,5        1
19,7       1
4          1
Name: count, Length: 128, dtype: int64


Value counts for hb03:
hb03
     10700
2     3123
1       76
Name: count, dtype: int64


Value counts for hb04:
hb04
            13763
325H0006        1
326H0015        1
308H0004        1
308H0005        1
            ...
516H0011        1
516H0013        1
516H0010        1
326H0002        1
350H0002        1
Name: count, Length: 137, dtype: int64


Value counts for hb05:
hb05
     10293
3     3445
1      159
2        2
Name: count, dtype: int64


Value counts for hb06a:
hb06a
     10293
1     2548
2     1058
Name: count, dtype: int64


Value counts for hb06b:
hb06b
      11351
22      178
18      160
24      156
26      148
23      143
27      128
21      127
14      124
19      124
25      111
17      110
16      109
29      102
20      101
13       91
28       91
12       75
11       71
15       69
31       60
10       48
9        40
30       36
8        32
33       30
32       28
7        17
6         9
36        8
5         4
34        3
35        3
3         3
37        3
39        2
4         2
38        1
2         1
Name: count, dtype: int64


Value counts for hb07a:
hb07a
     10293
1     2458
2     1148
Name: count, dtype: int64


Value counts for hb07b:
hb07b
      11441
95       65
84       50
90       49
71       47
      ...
2         2
12        2
11        2
7         1
8         1
Name: count, Length: 97, dtype: int64


Value counts for hb08:
hb08
           10293
2109923     3477
1             42
2409923       13
210923         9
210993         6
219923         4
2309923        4
2199023        3
1210992        2
201            2
210992         2
2109953        2
2190923        2
2109223        2
2019923        2
2109023        2
1209923        2
2109992        1
202209         1
2163099        1
2169923        1
2108992        1
24093          1
9210992        1
213923         1
63             1
2100923        1
45             1
21099          1
5426908        1
2109993        1
2009923        1
2109913        1
5              1
2              1
2190023        1
64             1
2106923        1
2109926        1
2109933        1
2010992        1
52             1
2129923        1
629181         1
86             1
2109922        1
2109523        1
Name: count, dtype: int64


Value counts for hb09:
hb09
            10293
20220906      395
20220907      205
20221016      167
20220909      143
            ...
20221028        1
20220806        1
20220901        1
20220930        1
20221024        1
Name: count, Length: 75, dtype: int64


Value counts for hb10:
hb10
         10293
MQ352      170
MQ351      153
MQ300      137
MQ341      135
MQ358      131
MQ308      130
MQ350      128
MQ301      126
MQ317      124
MQ335      123
MQ342      123
MQ310      121
MQ245      121
MQ334      120
MQ325      119
MQ361      115
MQ326      115
MQ302      114
MQ318      112
MQ340      110
MQ244      108
MQ250      106
MQ243      103
MQ319      103
MQ327      102
MQ252       92
MQ333       85
MQ360       80
MQ309       77
MQ253       65
MQ507       36
MQ516       31
MQ506       25
MQ514       24
MQ513       23
MQ515       17
MQ353        1
gsanc        1
Name: count, dtype: int64


Value counts for hb11:
hb11
    13899
Name: count, dtype: int64


Value counts for nota03:
nota03
     10960
1     2939
Name: count, dtype: int64


Value counts for mc01:
mc01
     10960
1     2264
5      454
3       98
4       60
2       50
6       13
Name: count, dtype: int64


Value counts for mc02:
mc02
         11585
19:00       20
08:20       18
14:00       18
13:20       17
         ...
15:14        1
11:24        1
04:39        1
07:57        1
20:55        1
Name: count, Length: 732, dtype: int64


Value counts for mc03:
mc03
            11585
326M0089        1
253M0027        1
333M0023        1
333M0024        1
            ...
302M0024        1
302M0025        1
302M0026        1
302M0027        1
244M0038        1
Name: count, Length: 2315, dtype: int64


Value counts for comentario:
comentario
                                                                            6256
NINGUNO                                                                     5437
NINGUNA                                                                      546
NO                                                                           366
SE NEGO                                                                      121
                                                                            ...
LE HACEN BUERLA SU FAMILIA Y SE NEGO A QUE LO MIDIERAMOS Y PESARAMOS           1
NO DEJABA DE MOVERSE, ÚNICAMENTE SE OBTUVO LO NECESARIO PARA HEMOGLOBINA       1
LA MAMA SE NEGO POR QUE  ERA MUY PEQUEÑA LA                                    1
LLEGAMOS A LA MUESTRA Y NUNCA SALIO                                            1
LA ENTREVISTADA SE DESMAYO                                                     1
Name: count, Length: 667, dtype: int64


Value counts for hora_fin:
hora_fin
15:35:31    4
15:32:25    4
12:28:15    4
16:33:30    4
14:31:17    3
           ..
15:03:22    1
15:31:50    1
15:30:42    1
15:32:36    1
09:38:19    1
Name: count, Length: 12591, dtype: int64


Value counts for fecha_fin:
fecha_fin
11/12/2022    436
24/10/2022    363
13/12/2022    334
14/11/2022    333
12/12/2022    308
             ...
28/08/2022      5
26/08/2022      4
04/09/2022      3
25/11/2021      1
31/08/2022      1
Name: count, Length: 110, dtype: int64


Value counts for otroent:
otroent
                                                                13727
CAMBIO DE DOMICILIO                                                95
CAMBIO  DE DOMICILIO                                                2
NO SE ENCUENTRA VIVIENDA                                            2
CONTAGIADO DE COVID                                                 2
                                                                ...
SE ENCONTRO LA VIVIENDA PERO NO LOS SELECCIONADOS                   1
PACIENTE ONCOLOGICO                                                 1
SUJETO DE ESTUDIO CAMBIO DE DOMICILIO ESTADOS UNIDOS                1
REALIZAN FUNERAL EN VIVIENDA                                        1
SELECCIONADO NO VIVE EN VIVIENDA DE ACUERDO A LA CARTOGRAFÍA        1
Name: count, Length: 72, dtype: int64


Value counts for valor_AC_URICO:
valor_AC_URICO
        11808
4,5        74
4,3        72
4,8        69
4          67
        ...
10,3        1
,4          1
9,6         1
62          1
9,7         1
Name: count, Length: 88, dtype: int64


Value counts for fecdeterm_AC_URICO:
fecdeterm_AC_URICO
              11808
12/13/2022      271
10/31/2022      263
12/19/2022      243
11/7/2022       224
12/20/2022      197
10/10/2022      176
11/28/2022      168
11/17/2022      136
10/3/2022       133
12/21/2022      114
11/25/2022       94
10/13/2022       58
10/10/2021       13
11/21/2022        1
Name: count, dtype: int64


Value counts for valor_ALBU:
valor_ALBU
       11808
4        159
4,1      130
4,2      127
3,9      125
3,8      117
4,3      109
4,4       97
3,6       96
3,3       95
3,4       80
3,7       80
3,5       78
3         76
3,2       74
4,5       65
3,1       60
2,9       56
2,8       52
4,6       44
2,7       42
2,5       40
2,3       35
4,7       35
2,6       31
4,8       24
2,4       24
2,2       22
2         19
1,9       18
1,5       13
1,7       12
2,1       11
1,6        8
5          8
4,9        8
1,8        7
5,1        5
1          2
5,2        2
1,2        1
6          1
1,4        1
5,3        1
,8         1
Name: count, dtype: int64


Value counts for fecdeterm_ALBU:
fecdeterm_ALBU
              11808
12/13/2022      271
10/31/2022      263
12/19/2022      242
11/7/2022       224
12/20/2022      197
10/10/2022      176
11/28/2022      168
11/17/2022      136
10/3/2022       133
12/21/2022      114
11/25/2022       94
10/13/2022       58
10/10/2021       13
12/31/2022        1
11/21/2022        1
Name: count, dtype: int64


Value counts for valor_COL_HDL:
valor_COL_HDL
       11808
34        91
38        88
40        84
42        81
       ...
141        1
79         1
89         1
133        1
9          1
Name: count, Length: 82, dtype: int64


Value counts for fecdeterm_COL_HDL:
fecdeterm_COL_HDL
              11808
12/13/2022      271
10/31/2022      263
12/19/2022      243
11/7/2022       224
12/20/2022      197
10/10/2022      176
11/28/2022      168
11/17/2022      136
10/3/2022       133
12/21/2022      114
11/25/2022       94
10/13/2022       58
10/10/2021       13
11/21/2022        1
Name: count, dtype: int64


Value counts for valor_COL_LDL:
valor_COL_LDL
         11808
83          39
86          39
92          36
94          34
         ...
188          1
177          1
160          1
178          1
108,9        1
Name: count, Length: 174, dtype: int64


Value counts for fecdeterm_COL_LDL:
fecdeterm_COL_LDL
              11808
12/13/2022      271
10/31/2022      263
12/19/2022      243

LIMPIEZA DE DATOS SIN CONOCIMIENTO MEDICO

In [7]:
# Importar diccionario de datos
dict_data = pd.read_excel('data/ensanut2022_muestras-diccionario.xlsx')

# Eliminar las primeras 18 filas que no contienen información relevante
dict_data = dict_data.iloc[16:].reset_index(drop=True)
dict_data.head()

#Renombrar columnas
dict_data.columns = ['Variable', 'Posicion', 'Etiqueta', 'Nivel de Medicion', 'Ancho de columna']
dict_data.head()

    Variable Posicion             Etiqueta Nivel de Medicion Ancho de columna
0    FOLIO_I        1                Folio           Nominal               15
1  FOLIO_INT        2  Folio de integrante           Nominal               18
2     t_hora        3          TIEMPO HORA            Escala                8
3      t_min        4       TIEMPO MINUTOS            Escala                7
4    t_sumai        5   TIEMPO SUMA INICIO            Escala                9

In [8]:
# Mostrar etiquetas de las variables categoricas
for var in categorical_vars:
    etiquetas = dict_data[dict_data['Variable'] == var]['Etiqueta'].values
    if len(etiquetas) > 0:
        print(f"{var}: {etiquetas[0]}")
    else:
        print(f"No se encontraron etiquetas para {var}")

FOLIO_I: Folio
FOLIO_INT: Folio de integrante
hora_ini_1: Hora de Inicio 1
fecha_ini_1: Fecha de Inicio 1
hora_fin_1: Hora termino 1
fecha_fin_1: Fecha termino 1
hora_ini_2: Hora de Inicio 2
fecha_ini_2: Fecha de Inicio 2
hora_fin_2: Hora de Termino 2
fecha_fin_2: Fecha de Termino 2
hora_ini_3: Hora de Inicio 3
fecha_ini_3: Fecha de Inicio 3
hora_fin_3: Hora de Termino 3
fecha_fin_3: Fecha de Termino 3
hora_ini_4: Hora de Inicio 4
fecha_ini_4: Fecha de Inicio 4
hora_fin_4: Hora de Termino 4
fecha_fin_4: Fecha de Termino 4
hora_ini: Hora de Inicio
fecha_ini: Fecha de inicio
desc_ent: DESC_ENT
desc_mun: DESC_MUN
fech_nac: Fecha de Nacimiento
sc: SELECCIONADO PARA SANGRE CAPILAR
sv: SELECCIONADO PARA SANGRE VENOSA  COVID19
sh: SELECCIONADO PARA SANGRE VENOSA  ANEMIA
sm: SELECCIONADO PARA SANGRE VENOSA  MICRONUTRIMENTOS
int_hemoglobina: SELECCIONADO PARA SANGRE TOTAL DE MICRO NUTRIMENTOS
nota11: Información de la toma de muestras de sangre
nota00: NOTA00
sc01: SC01. REGISTRAR EL RESULTADO DE LA MUESTRA CAPILAR
sc02: SC02. ¿CUÁNTAS HORAS PASARON DESDE QUE (NOMBRE) TOMÓ EL ÚLTIMO ALIMENTO
sc03: SC03. ANOTAR EL NÚMERO DE SPOTS COMPLETAMENTE LLENOS (DE 1 A 5)
sc04: SC04. ANOTAR ETIQUETA PARA PAPEL FILTRO QUE CONTIENE LA MUESTRA PARA COVID-19
nota01: TOMA DE MUESTRA
san01: SAN01. REGISTRAR EL RESULTADO DE LA TOMA DE MUESTRA DE SANGRE VENOSA
san02: SAN02. ANOTAR LA HORA EN QUE FUE TOMADA LA MUESTRA UTILIZANDO EL FORMATO DE 24 H
san03: SAN03. FETIQUETA DEL TUBO AMARILLO QUE CONTIENE LA MUESTRA PARA COVID-19
san04: SAN04. ¿CUÁNTAS HORAS PASARON DESDE QUE (NOMBRE) TOMÓ EL ÚLTIMO ALIMENTO?
san05: SAN05. ETIQUETA DEL TUBO AMARILLO QUE CONTIENE LA MUESTRA PARA ENFERMEDADES CRÓN
san06: SAN06. ETIQUETA DEL TUBO MORADO QUE CONTIENE LA MUESTRA PARA ENFERMEDADES CRÓNIC
nota02: MUESTRA DE SANGRE VENOSA PARA ANEMIA
hb01: HB01. REGISTRAR EL RESULTADO DE LA MEDICIÓN DE HEMOGLOBINA
hb02: HB02. ANOTE LA CONCENTRACIÓN DE HEMOGLOBINA (HEMOCUE)
hb03: HB03. ¿ES SELECCIONADO PARA VALIDACION?
hb04: HB04. ANOTAR ETIQUETA DEL TUBO MORADO QUE CONTIENE MUESTRA PARA HEMOGLOBINA
hb05: HB05. HUBO NECESIDAD DE CONSERVAR EL HEMOCUE EN UNA TEMPERATURA DIFERENTE DEL AM
hb06a: HB06A. ¿FUE POSIBLE REGISTRAR LA TEMPERATURA?
hb06b: HB06B. REGISTRAR LA TEMPERATURA AMBIENTE
hb07a: HB07A. ¿FUE POSIBLE REGISTRAR LA HUMEDAD RELATIVA?
hb07b: HB07B. REGISTRAR LA HUMEDAD AMBIENTAL
hb08: HB08. REGISTRE EL NÚMERO DE LOTE DE CUBETAS QUE UTILIZO
hb09: HB09. REGISTRAR FECHA EN QUE SE ABRIÓ EL BOTE DE CUBETAS
hb10: HB10.ANOTE EL NÚMERO ECONÓMICO DE HEMOCUE ASIGNADO
hb11: HB11. CLAVE DEL MUESTRISTA
nota03: MUESTRA MICRONUTRIMENTOS
mc01: MC01. REGISTRAR EL RESULTADO DE LA TOMA DE MUESTRA VENOSA
mc02: MC02. ANOTE LA HORA EN QUE FUE TOMADA LA MUESTRA UTILIZANDO EL RELOJ DE 24 HORAS
mc03: MC03. ANOTAR ETIQUETA DEL TUBO AMARILLO QUE CONTIENE LA MUESTRA PARA MICRONUTRIM
comentario: ¿Algún comentario de la entrevista?
hora_fin: Hora de termino
fecha_fin: Fecha de Termino
otroent: Especifique otro resultado de entrevista
valor_AC_URICO: Resultado  Ácido úrico mg/dl
fecdeterm_AC_URICO: Fecha determinación  Ácido úrico
valor_ALBU: Resultado  Albúmina g/dL
fecdeterm_ALBU: Fecha determinación  Albúmina
valor_COL_HDL: Resultado  Colesterol HDL mg/dl
fecdeterm_COL_HDL: Fecha determinación  Colesterol HDL
valor_COL_LDL: Resultado  Colesterol LDL mg/dl
fecdeterm_COL_LDL: Fecha determinación  Colesterol LDL
valor_COLEST: Resultado  Colesterol total mg/dl
fecdeterm_COLEST: Fecha determinación  Colesterol total
valor_CREAT: Resultado  Creatinina mg/dl
fecdeterm_CREAT: Fecha determinación  Creatinina
valor_GLU_SUERO: Resultado  Glucosa mg/dl
fecdeterm_GLU_SUERO: Fecha determinación  Glucosa
valor_INSULINA: Resultado  Insulina micro UI/ml
fecdeterm_INSULINA: Fecha determinación  Insulina
valor_PCR: Resultado  Proteína C Reactiva mg/dL
fecdeterm_PCR: Fecha determinación Proteína C Reactiva mg/dL
valor_TRIG: Resultado  Triglicéridos mg/dl
fecdeterm_TRIG: Fecha determinación  Triglicéridos
valor_EAG: Resultado Glucosa Promedio Estimada mg/dL
fecdeterm_EAG: Fecha determinación Glucosa Promedio Estimada mg/dL
valor_HB1AC: Resultado  Hemoglobina glucosilada. %
fecdeterm_HB1AC: Fecha determinación  Hemoglobina glucosilada.
MATRIZ_SUEROMICRO: Registro con muestra de suero micronutrimentos analizada por el INNSZ
valor_FERRITINA: Resultado Ferritina ng/mL
fecdeterm_FERRITINA: Fecha determinación Ferritina ng/mL
valor_FOL: Resultado Folato ng/mL
fecdeterm_FOL: Fecha determinación Folato ng/mL
valor_HCST: Resultado Homocisteina micromol/L
fecdeterm_HCST: Fecha determinación Homocisteina
valor_PROTCREAC: Resultado  Proteína C Reactiva mg/L
fecdeterm_PROTCREAC: Fecha determinación  Proteína C Reactiva
valor_STFR_FEB23: Resultado Receptor de Transferrina mg/L
fecdeterm_STFR_FEB23: Fecha determinación Receptor de Transferrina
valor_VIT_B12: Resultado Vitamina B12 pg/mL
fecdeterm_VIT_B12: Fecha determinación  Vitamina B12 pg/mL
valor_VIT_D: Resultado Vitamina D ng/mL
fecdeterm_VIT_D: Fecha determinación Vitamina D ng/mL
ponde_v: ponderador venosa 20+
ponde_m12a49: ponderador micro-nutrientes
ponde_m0a11: ponderador micro-nutrientes
upm: Unidad primaria de muestreo

In [9]:
# Lista de variables cuyo nombre contiene "valor"
Cat_vars = dict_data.loc[dict_data['Variable'].str.contains("valor", case=False, na=False), 'Variable'].tolist()

# Añadir variables adicionales y eliminar duplicados
Cat_vars = list(set(Cat_vars + ['FOLIO_INT','ponde_v', 'ponde_m12a49', 'ponde_m0a11', 'upm', 'MATRIZ_SUEROMICRO', 'MATRIZ_SUERO']))

In [10]:
Cat_vars

['MATRIZ_SUEROMICRO',
 'valor_COL_HDL',
 'valor_HB1AC',
 'valor_TRIG',
 'valor_VIT_B12',
 'ponde_m12a49',
 'valor_HCST',
 'MATRIZ_SUERO',
 'valor_COLEST',
 'valor_FERRITINA',
 'upm',
 'ponde_v',
 'valor_PROTCREAC',
 'valor_FOL',
 'valor_GLU_SUERO',
 'valor_COL_LDL',
 'valor_PCR',
 'valor_AC_URICO',
 'valor_INSULINA',
 'ponde_m0a11',
 'valor_CREAT',
 'valor_STFR_FEB23',
 'valor_EAG',
 'FOLIO_INT',
 'valor_VIT_D',
 'valor_ALBU']

VARIABLES SELECCIONADAS
Folio_INT: Para mapear los datos con otras bases de datos
"valor_...": Resultados clinicos/parametros medicos
['ponde_v', 'ponde_m12a49', 'ponde_m0a11', 'upm', 'MATRIZ_SUEROMICRO']: Diseño muestral

In [11]:
# Lo mismo con las numericas
# Mostrar etiquetas de las variables numericas
for var in numerical_vars:
    etiquetas = dict_data[dict_data['Variable'] == var]['Etiqueta'].values
    if len(etiquetas) > 0:
        print(f"{var}: {etiquetas[0]}")
    else:
        print(f"No se encontraron etiquetas para {var}")

t_hora: TIEMPO HORA
t_min: TIEMPO MINUTOS
t_sumai: TIEMPO SUMA INICIO
t_sumaf: TIEMPO SUMA FIN
tiempo1: Duración de la Entrevista 1
resultado_1: Resultado de entrevista 1
tiempo2: Duración de la Entrevista 2
resultado_2: Resultado de entrevista 2
tiempo3: Duración de la Entrevista 3
resultado_3: Resultado de entrevista 3
tiempo4: Duración de la Entrevista 4
resultado_4: Resultado de entrevista 4
localizado: localizado
entidad: Entidad
municipio: Municipio
h0302: Sexo
h0303: Edad
nota1: Consentimiento para realizar la entrevista
tiempo: Duración de la Entrevista
completa: Resultado de Entrevista
MATRIZ_SUERO: Registro con muestra de suero analizada por el INNSZ
MATRIZ_SANGRE: Registro con muestra de sangre total analizada por el INNSZ
cuenta_mic: Mediciones de micro-nutrientes
estrato: Estrato urbanidad/ruralidad
region: Region o zona de trabajo
est_sel:  Estrato de seleccion

In [12]:
#Añadir variables relevantes a la lista de numericas Sexo, Edad, Matriz_Suero, MAtriz_sangre
Num_vars = ['h0302', 'h0303', 'MATRIZ_SUERO', 'MATRIZ_SANGRE', 'estrato', 'region', 'est_sel']

In [13]:
Num_vars

['h0302',
 'h0303',
 'MATRIZ_SUERO',
 'MATRIZ_SANGRE',
 'estrato',
 'region',
 'est_sel']

In [14]:
# data solo con las variables seleccionadas
data_selected = data[Cat_vars + Num_vars]
#data_selected.info()
data_selected.head(20)

,MATRIZ_SUEROMICRO,valor_COL_HDL,valor_HB1AC,valor_TRIG,valor_VIT_B12,ponde_m12a49,valor_HCST,MATRIZ_SUERO,valor_COLEST,valor_FERRITINA,...,FOLIO_INT,valor_VIT_D,valor_ALBU,h0302,h0303,MATRIZ_SUERO,MATRIZ_SANGRE,estrato,region,est_sel
0,,,,,,,,0,,,...,2022_01001004_01,,,2,41,0,0,3,4,13
1,,,,,,,,0,,,...,2022_01001008_01,,,1,58,0,0,3,4,13
2,,,,,,,,0,,,...,2022_01001008_03,,,2,29,0,0,3,4,13
3,,73,"6,2",131,,,,1,252,,...,2022_01001009_02,,"3,8",2,65,1,1,3,4,13
4,,,,,,,,0,,,...,2022_01001011_01,,,1,67,0,0,3,4,13
5,,,,,,,,0,,,...,2022_01001011_03,,,1,18,0,0,3,4,13
6,,,,,,,,0,,,...,2022_01001012_02,,,2,68,0,0,3,4,13
7,,,,,,,,0,,,...,2022_01001012_03,,,1,42,0,0,3,4,13
8,,49,"5,3",297,,,,1,203,,...,2022_01001013_01,,"4,1",1,35,1,1,3,4,13
9,,,,,,,,0,,,...,2022_01001013_02,,,2,52,0,0,3,4,13
10,,,,,,,,0,,,...,2022_01001013_05,,,2,16,0,0,3,4,13
11,,,,,,,,0,,,...,2022_01001013_06,,,2,9,0,0,3,4,13
12,,,,,,,,0,,,...,2022_01001013_07,,,2,2,0,0,3,4,13
13,,41,7,136,,,,1,145,,...,2022_01001015_01,,"4,2",2,65,1,1,3,4,13
14,,,,,,,,0,,,...,2022_01001017_02,,,2,70,0,0,3,4,13
15,,,,,,,,0,,,...,2022_01001017_04,,,1,24,0,0,3,4,13
16,,,,,,,,0,,,...,2022_01001017_05,,,1,18,0,0,3,4,13
17,1,42,"5,9",121,370,"19157,5883905772","6,94",1,139,44,...,2022_01001024_01,"16,5","3,8",2,30,1,1,3,4,13
18,,,,,,,,0,,,...,2022_01001026_01,,,1,28,0,0,3,4,13
19,,41,"9,2",257,,,,1,215,,...,2022_01001027_01,,"4,1",1,76,1,1,3,4,13

In [16]:
# Nuevo diccionario con las variabes seleccionadas
dict_selected = dict_data[dict_data['Variable'].isin(Cat_vars + Num_vars)]

# Liminar nivel de medicion y ancho de columna
dict_selected = dict_selected.drop(columns=['Nivel de Medicion', 'Ancho de columna'])

dict_selected

,Variable,Posicion,Etiqueta
1,FOLIO_INT,2,Folio de integrante
37,h0302,38,Sexo
38,h0303,39,Edad
83,MATRIZ_SUERO,84,Registro con muestra de suero analizada por el...
84,valor_AC_URICO,85,Resultado Ácido úrico mg/dl
86,valor_ALBU,87,Resultado Albúmina g/dL
88,valor_COL_HDL,89,Resultado Colesterol HDL mg/dl
90,valor_COL_LDL,91,Resultado Colesterol LDL mg/dl
92,valor_COLEST,93,Resultado Colesterol total mg/dl
94,valor_CREAT,95,Resultado Creatinina mg/dl
96,valor_GLU_SUERO,97,Resultado Glucosa mg/dl
98,valor_INSULINA,99,Resultado Insulina micro UI/ml
100,valor_PCR,101,Resultado Proteína C Reactiva mg/dL
102,valor_TRIG,103,Resultado Triglicéridos mg/dl
104,MATRIZ_SANGRE,105,Registro con muestra de sangre total analizada...
105,valor_EAG,106,Resultado Glucosa Promedio Estimada mg/dL
107,valor_HB1AC,108,Resultado Hemoglobina glucosilada. %
109,MATRIZ_SUEROMICRO,110,Registro con muestra de suero micronutrimentos...
110,valor_FERRITINA,111,Resultado Ferritina ng/mL
112,valor_FOL,113,Resultado Folato ng/mL
114,valor_HCST,115,Resultado Homocisteina micromol/L
116,valor_PROTCREAC,117,Resultado Proteína C Reactiva mg/L
118,valor_STFR_FEB23,119,Resultado Receptor de Transferrina mg/L
120,valor_VIT_B12,121,Resultado Vitamina B12 pg/mL
122,valor_VIT_D,123,Resultado Vitamina D ng/mL
124,ponde_v,125,ponderador venosa 20+
126,ponde_m12a49,127,ponderador micro-nutrientes
127,ponde_m0a11,128,ponderador micro-nutrientes
128,estrato,129,Estrato urbanidad/ruralidad
129,region,130,Region o zona de trabajo
130,est_sel,131,Estrato de seleccion
131,upm,132,Unidad primaria de muestreo

# En el Documento Socdem no encontre ninguna variable relevante, se podria. incluir
h1205: H1205 Desde febrero 2020 ¿Cuántas veces le han diagnosticado a (NOMBRE) COVID-19 por algún personal de salud?

Escolaridad: H0317A, H0317G, H0318

H0310 ¿(NOMBRE) tiene derecho o acceso a servicios médicos

- Cambiar el indicador de estado y municipios para que coincidan con los contaminantes y realizar el join a ambas db
- Construir DAG Medica 3. Comparar con HC